.header {
  padding: 0 20px 0 20px;
  background-color: transparent;
  margin-bottom: 20px;
}

.header__inner {
  @extend .layout-inner;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 0;
  margin-left: 0;
}

.header_transparent {
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
}

.header_top {
  .header__inner {
    width: 100%;
  }
  .left, .right {
    display: flex;
    align-items: center;
  }
  .location {
    margin-right: 60px;
  }
  .timing {
    color: #fff;
  }
  .right {
    .contact {
      margin-right: 50px;
      display: flex;
      align-items: flex-end;
      .link {
        font-family: $font-family_medium;
        &:first-child {
          margin-right: 20px;
        }
      }
      .link_mini {
        margin-left: 12px;
        margin-right: 0;
        opacity: 0.6;
        text-decoration: underline;
        font-family: $font-family;
      }
      .social {
        display: flex;
        margin: 0 0 0 20px;
        &_link {
          text-decoration: none;
          margin-right: 14px;
            span:before {
              font-size: 16px;
              color: #fff;
            }
          &:last-child {
            margin-right: 0;
            span:before {
              color: #fff;
            }
          }
          &:hover {
            span:before {
              opacity: 0.7;
            }
          }
        }
        .wechat {
          span:before {
            font-size: 17px;
          }
        }

      }
    }
    .search {
      .btn_transparent {
        span {
          opacity: 0.7;
          font-size: 18px;
        }
      }
    }
  }
}

.header_bottom {
  width: 100%;
  .header__inner {
    width: 100%;
    background-color: $color-blue;
    padding: 0 20px;
    border-radius: 16px;
      .logo {
        margin-right: 20px;
      }
      .main_menu {
        .nav__list {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
  }
}

.dropdown_hover {
  position: relative;
  .dropdown__text {
    font-size: 15px;
    a {
      display: block;
    }
    p {
      white-space: nowrap;
      text-transform: uppercase;
      font-size: 12px;
      font-family: $font-family_medium;
    }
    p:after {
      top: 5px;
      width: 8px;
      height: 8px;
    }
  }
  .dropdown__list {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
    display: block;
  }
  .dropdown__item {
    font-size: 14px;
    text-transform: none;
    font-family: $font-family;
      &:hover .link {
        color: $color-blue !important;
      }
  }
  &:hover {
    .dropdown__list {
      visibility: visible;
      opacity: 1;
      transition: all 0.2s ease-out;
    }
    .dropdown__text {
      a {
      }
      p::after {
        transform: rotate(-45deg);
        top: 9px !important;
        border-color: #fff;
      }
    }
  }
}