.layout-inner {
  width: 100%;
  max-width: 1216px;
  min-width: 1216px;
  margin-left: auto;
  margin-right: auto;
}

.layout-padding {
  padding-left: 32px;
  padding-right: 32px;
}

.mobile {
  display: none;
}

.footer__inner_main__item {
  .social {
    display: none;
  }
}

.cust_bf .form__checkbox.mobile {
  display: none;
}

@media (min-width: 1200px) {

  .layout-inner {
    max-width: 1216px;
    min-width: 1216px;
    width: 100%;
  }

  .layout-padding {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 640px) and (max-width: 1199px) {
  .hero {
    .hero__inner {
      justify-content: flex-end;
    }
    .hero_right {
      width: 100%;
        .form {
          width: 100%;
            .input_container {
              display: flex;
                .form__item:first-child {
                  margin-right: 20px;
                }
            }
        }
    }
  }
}


@media (max-width: 1199px) {

  .cust_bf .form__checkbox.mobile {
    display: block;
  }

  .page-catalog {
    .search_mobile {
      .btn_transparent {
        .icon-loop:before {
          color: $color-black;
        }
      }
    }

    .section_page-top {
      padding-top: 20px;
    }

    .header_bottom .header__inner .logo {
      svg {
        path {
          fill: $color-blue;
        }
      }
    }
  }

  .burger {
    display: block;
  }

  /**
    * size on tablet
    */

  .layout-inner {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
  }

  .layout-padding {
    padding-left: 40px;
    padding-right: 40px;
  }

  .page__inner {
    padding-left: 40px;
    padding-right: 40px;
  }

  .section_transparent {
    padding: 0;
  }

  .section_white {
    padding: 20px;
  }

  .header_top {
    display: none;
  }

  .header_transparent {
    top: 8px;
  }

  .header_bottom .header__inner {
    padding: 20px 0 0 0;
    background-color: transparent;
  }

  .main_menu {
    display: none;
  }

  .hero {
    background-position: 30% 50%;
  }

  .hero_sub {
    display: none;
  }

  .hero__inner {
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
      .hero_left {
        padding-top: 40px;
        margin-bottom: 32px;
          h1 {
            max-width: 80%;
            margin-bottom: 6px;
            font-size: 40px;
            line-height: 44px;
          }
      }
  }

  .section_doubletext {
    flex-direction: column;
  }

  .section_doubletext p:last-child {
    margin-bottom: 0;
  }

  .promo_blue {
    padding: 20px 32px;
    background-color: #fff;
      .promo_blue__tile {
        flex-wrap: wrap;
        .pbt__item {
          width: calc(50% - 16px);
          max-width: 50%;
          margin-right: 32px;
          margin-bottom: 20px;
          .big {
            color: $color-blue;
          }
          .sub {
            color: $color-black;
            opacity: 0.5;
          }
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
  }

  .section_solotext {
    width: 100%;
    max-width: unset;
  }

  .service_tile {
    &__item {
      width: calc(50% - 16px);
      &:nth-child(3n+3) {
        margin-right: 32px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .tile_projects {
    &__item {
      width: calc(50% - 16px);
      &:nth-child(3n+3) {
        margin-right: 32px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .blue_tile {
    flex-wrap: wrap;
      &__item {
        width: calc(33.3333% - 24px);
        margin-bottom: 32px;
        &:nth-child(3n+3) {
          margin-right: 0;
        }
      }
  }

  .calc_container {
    flex-direction: column;
      &__box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
  }

  .input_from, .input_to {
    padding-left: 50px;
  }

  .simple_list .blue_list {
    columns: 1;
  }

  .page__item.slider_item {
    padding: 0;
    padding-bottom: 32px;
  }

  .advant_tile {
    &__item {
      width: calc(50% - 16px);
      border-top: 1px solid $color-border;
      &:nth-child(1) {
        padding-top: 12px;
      }
      &:nth-child(2) {
        padding-top: 12px;
      }
      &:nth-child(3) {
        border-top: 1px solid $color-border;
      }
      &:nth-child(3n+3) {
        padding-right: 32px;
      }
      &:nth-child(2n) {
        padding-right: 0;
      }
    }
  }
  h2 {
    font-size: 28px;
    line-height: normal;
  }

  .bf_box {
    .bf_inputs {
      flex-direction: column;
        .form__item {
          margin-right: 0;
          width: 100%;
        }
    }
    .bf_box__container {
      flex-direction: column;
        .left {
          margin-right: 0;
          margin-bottom: 20px;
          width: 100%;
            .form__textarea {
              width: 100%;
            }
        }
        .right {
          width: 100%;
        }
    }
  }
  .backform__inner .bf_box__container .right .btn_box {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }

  .footer__inner_main {
    width: 100%;
    flex-direction: column;
      &__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
          &:first-child {
            .social {
              display: none;
            }
          }
      }
  }
  .simple_advant__tile {
    margin-top: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
      &__item {
        margin-bottom: 32px;
        margin-right: 32px;
        width: calc(50% - 16px);
        p {
          font-size: 16px;
        }
        &:nth-child(3n+3) {
          margin-right: 32px;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
        &:nth-child(3), &:nth-child(4) {
          margin-bottom: 0;
        }
      }
  }

  .tile_projects__item .tp_info_name p {
    font-size: 15px;
  }

  .tile_park .tile_projects__item .tp_price__item .blue_price {
    font-size: 15px;
  }

  .white_tile {
    flex-wrap: wrap;
    justify-content: flex-start;
      &__item {
        width: calc(33.3333% - 24px);
        margin-bottom: 32px;
        margin-right: 32px;
        &:nth-child(3n+3) {
          margin-right: 0;
        }
      }
  }

  .section_white {
    .simple_advant .advant_tile__item {
      width: calc(50% - 16px);
        &:nth-child(3n+3) {
          margin-right: 32px;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
        &:nth-child(3) {
          border: none;
        }
    }
    .same_text {
      .left {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    .section_box {
      flex-direction: column-reverse;
      &__right {
        display: none;
      }
      &__left {
        width: 100%;
        margin-right: 0;
        .advant_box {

        }
      }
    }
  }
  .footer__inner_main__item {
    .social {
      display: flex;
      margin-top: 20px;
      align-items: center;
      justify-content: flex-start;
      a {
        text-decoration: none;
        span:before {
          color: #fff;
          font-size: 20px;
          margin-right: 16px;
        }
        .icon-vk:before {
          font-size: 17px;
        }
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  //catalog page

  .page-catalog {
    h1 {
      font-size: 32px;
      margin-bottom: 16px;
      line-height: 36px;
    }
    .section_doubletext p {
      font-size: 14px;
    }
  }
  .page-catalog .section_catalog {
    flex-direction: column;
    .catalog_side {
      width: 100%;
      margin-bottom: 20px;
      margin-right: 0;
      max-width: unset;
        .catalog_side__body {
          width: 100%;
          .accordion {
            width: 100%;
              .accordion__list {
                width: 100%;
                  .accordion__item {
                    width: 100%;
                      .accordion__btn {
                        width: 100%;
                      }
                  }
              }
          }
        }
    }
  }
  .catalog_content__tile {
    &_item {
      width: calc(50% - 16px);
      &:nth-child(3n+3) {
        margin-right: 32px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(3) {
        border: none;
      }
    }
  }

  //subcatalog

  .page-catalog .catalog_content__sort {
    width: 100%;
    .view {
      display: none;
    }
    .sort {
      width: 100%;
    }
  }

  .section_filters {
    flex-wrap: wrap;
      .filter_item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
  }

  .section_catalog {
    padding-bottom: 0 !important;
  }

  .catalog_content {
    margin-bottom: -32px;
    .catalog_items__tile {
      &_item {
        width: calc(50% - 16px);
        &:nth-child(3n+3) {
          margin-right: 32px;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
        &:nth-child(3) {
          border: none;
        }
      }
    }
  }

  //item page

  .link_back {
    h1 {
      margin-bottom: 0;
    }
    span.tuda {
      width: 12px;
      height: 12px;
      margin-right: 12px;
    }
  }

  .page-catalog .section_white {
    padding: 20px;
  }

  .section_card {
    width: 100%;
    flex-direction: column;
      .card_left {
        width: 100%;
        max-width: unset;
        margin-bottom: 32px;
        margin-right: 0;
          .card_slider {
            width: 100%;
              .slider-for__slide {
                width: 100%;
                img, video {
                  width: 100%;
                  min-height: auto;
                }
              }
          }
      }
      .card_right {
        width: 100%;
        h2 {
          display: none;
        }
        .ability {
          display: none;
        }
      }
  }
  .card_top_mobile {
    display: block;
    margin-bottom: 20px;
    h2 {
      margin-bottom: 12px;
      font-size: 24px;
      line-height: 28px;
    }
  }

  .parameters {
    flex-direction: column;
      .filter_item {
        margin-right: 0 !important;
        margin-bottom: 12px;
      }
  }

  .section_card .card_right .charact {
    margin-bottom: 24px;
  }

  .section_card .card_right .item_promo .promo_points {
    margin-top: 24px;
  }

  .tabs__buttons {
    overflow-x: auto;
    .tabs__btn {
      white-space: nowrap;
      margin-right: 24px;
    }
  }
  .section_with-btn {
    padding-bottom: 12px !important;
  }

  //cases 1199

  .section_map {
    margin-bottom: 20px;
  }

  .hero_customs {
    background-position: 75% 50%;
  }

  .desktop {
    display: none;
  }

  .customs_calc {
    .backform__inner .bf_box .bf_inputs {
      margin-bottom: 0;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      .form__item {
        margin-right: 0;
        margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
      }
      .form__item:first-child {
        width: 100%;
        max-width: unset;
      }
      .item_cost {
        width: 60%;
        max-width: unset;
        margin-right: 20px;
      }
      .filter_item {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
        .dropdown {
          width: 100%;
        }
      }
      .filter_item.value {
        margin-right: 0;
        margin-bottom: 20px;
        width: calc(40% - 20px);
          .dropdown {
            width: 100%;
          }
      }
      .inline-label.mobile {
        margin-bottom: 20px;
        width: 100%;
      }
    }
  }

  .four-elements .white_tile__item {
    width: calc(33.3333% - 24px);
    margin-right: 32px;
    margin-bottom: 32px;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }

  .blue-lined {
    max-width: 100%;
  }

  .about_box {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
      &__left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
      &__right {
        width: 100%;
      }
  }

  .section_tabtext .pricelist__container {
    overflow-x: auto;
    width: 100%;
    border-radius: 12px;
    &_row {
      min-width: 800px;
      width: 100%;
      .pcr_item:first-child {
        width: 33%;
        margin-right: 32px;
      }
    }
  }

  .page-customs {
    .simple_advant_tile {
      margin-bottom: -20px;
    }
    .partner_slider {
      margin-bottom: 0;
    }
  }

  .white_tile.first-position {
    .white_tile__item:last-child {
      margin-bottom: 0;
    }
  }

  .stage_tile, .services_tile {
    .white_tile__item {
      width: calc(50% - 16px);
      &:nth-child(3n+3) {
        margin-right: 32px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .blue_flex {
    background-color: $color-blue;
    padding: 32px;
    .promo_blue__left {
      width: 70%;
    }
  }

  .prices_box {
    &__item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .simple_list .four-col {
    columns: 2;
  }

  .section_only-tile .section_header, .section_only-tile .section_solotext {
    padding-left: 0;
    padding-right: 0;
  }

  .cities_box {
    &__item {
      width: calc(33.33333% - 22px);
      &:nth-child(5n+5) {
        margin-right: 32px;
      }
        &:nth-child(3n+3) {
          margin-right: 0;
        }
    }
  }

  .delivery_tile .white_tile__item p:last-child {
    max-width: 100%;
  }

  .page-contacts {
    .section_map {
      padding-top: 0;
      margin-bottom: 32px;
      .map_container .map {
        height: 400px;
      }
    }
    .contacts_box {
      flex-wrap: wrap;
      margin-bottom: 0;
      &__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

}

//mobile

@media (max-width: 640px) {

  .bc {
    flex-wrap: wrap;
    a {
      margin-bottom: 4px;
      span {
        font-size: 13px;
      }
    }
  }

  .hero {
    background-position: 33% 50%;
  }

  .hero__inner {
    justify-content: flex-end;
  }

  .mobile {
    display: block;
  }

  .layout-inner {
    min-width: 320px;
    width: 100%;
    max-width: 640px;
  }

  .layout-padding {
    padding-left: 16px;
    padding-right: 16px;
  }

  .page__inner, .hero_sub_box, .hero__inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section_transparent {
    padding-left: 0;
    padding-right: 0;
  }

  .section_header {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 14px;
    .link {
      display: none;
    }
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
  }

  .header_bottom .header__inner .logo {
    img {
      width: 90px;
    }
  }

  .page__item {
    margin-bottom: 32px;
  }

  .hero {
    height: 100vh;
    min-height: 740px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .hero__inner {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
  }

  .hero__inner .hero_left h1 {
    font-size: 32px;
    line-height: 36px;
    max-width: 100%;
  }
  .subheading {
    font-size: 16px;
    max-width: 90%;
  }
  .hero__inner .hero_left .video {
    margin-bottom: 12px;
    img {
      width: 40px;
      height: 40px;
    }
  }

  .hero__inner .hero_right {
    width: 100%;
    .form {
      width: 100%;
    }
  }

  .section_white {
    border-radius: 12px;
  }

  .section_doubletext {
    .left {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
    p {
      font-size: 13px;
    }
  }

  .promo_blue__tile .pbt__item .big {
    font-size: 32px;
  }

  .promo_blue .promo_blue__tile {
    align-items: flex-start;
  }

  .promo_blue .promo_blue__tile .pbt__item .sub {
    font-size: 12px;
    max-width: 100%;
  }

  .promo_blue .promo_blue__tile .pbt__item {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .mobile_btn {
    width: 100%;
    margin-bottom: 32px;
    margin-top: -12px;
      a {
        width: 100%;
      }
  }

  .service_tile {
    margin-bottom: -12px;
    &__item {
      border-radius: 12px;
      width: 100%;
      margin-right: 0;
      height: 160px;
      padding: 20px;
      margin-bottom: 12px;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .section_solotext p {
    font-size: 13px;
  }

  .tile_projects {
    &__item {
      width: 100%;
      margin-right: 0;
      .tp_img {
        border-radius: 12px;
      }
      .tp_info_name p {
        font-size: 14px;
      }
      .tp_info_tags p {
        font-size: 11px;
        padding: 4px 14px;
      }
      .tp_info_size {
        p:last-child {
          font-size: 13px;
        }
      }
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .blue_tile__item {
    margin-right: 12px;
    width: calc(33.3333% - 8px);
    border-radius: 12px;
    margin-bottom: 12px;
    height: 80px;
      span {
        font-size: 24px;
      }
      .icon-vk {
        font-size: 20px;
      }
  }

  .calc_container__box {
    margin-top: 0;
    margin-bottom: 12px;
    .cc_title {
      font-size: 16px;
    }
  }

  .calc_container__box .agreement {
    text-align: left;
  }

  .calc_container__box:last-child {
    margin-bottom: 0;
    align-items: flex-start;
      .btn {
        width: 100%;
      }
  }

  .advant_tile {
    &__item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 14px;
      padding-top: 14px;
      &:nth-child(2n) {
      border-top: 1px solid $color-border;
    }
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .service_tile__item p {
    font-size: 14px;
  }

  .partner_slider.bp_slider {
    margin-bottom: 0;
  }

  .bp_slider {
    .slick-list {
      margin-right: -12px;
    }
    .partner_slider__slide {
      margin-right: 12px;
      padding: 12px;
      min-width: 140px;
      img {
        max-width: 140px;
      }
    }
  }

  .backform__inner .bf_box {
    .bf_title {
      font-size: 16px;
    }
  }

  .backform__inner .bf_box__container .right .btn_box {
    width: 100%;
    .agreement {
      text-align: left;
    }
    .btn {
      width: 100%;
    }
  }

  .simple_advant__tile {
    flex-direction: column;
    align-items: flex-start;
      &__item {
        margin-bottom: 12px;
      }
  }

  //page rf

  .simple_advant__tile {
    &__item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
        &:nth-child(3n+3) {
          margin-right: 0;
        }
      &:nth-child(3) {
        margin-bottom: 20px;
      }
    }
  }

  .tile_park .tile_projects__item .tp_price {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    .tp_price__item:first-child {
      margin-right: 24px;
    }
    .tp_price__item:last-child {
      width: 100%;
      margin-top: 12px;
        .btn {
          width: 100%;
          background-color: transparent;
          color: $color-blue;
        }
    }
  }

  .section_only-tile .section_header, .section_only-tile .section_solotext {
    padding-left: 0;
    padding-right: 0;
  }

  .white_tile__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    border-radius: 12px;
    max-height: 120px;
    min-height: unset;
      p {
        font-size: 15px;
      }
      img {
        width: 50px;
        margin-bottom: 6px;
      }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .section_white .simple_advant .advant_tile__item {
    width: 100%;
    margin-right: 0;
    border: none !important;
  }

  .promo_img img {
    border-radius: 12px;
    height: 200px;
    object-fit: cover;
  }

  .pricelist__container {
    overflow-x: auto;
    width: 100%;
      &_row {
        min-width: 800px;
        width: 100%;
        .pcr_item:first-child {
          width: 16%;
        }
      }
  }

  .section_white .section_box__left {
    .advant_box {
      &__item {
        width: 100%;
        margin-right: 0;
      }
    }
    .btns_box {
      flex-direction: column;
      &__container {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
          .btn {
            width: 100%;
              &:first-child {
                margin-bottom: 12px;
              }
          }
      }
    }
  }

  .bp_slider .partner_slider__slide {
    max-width: 150px;
  }

  .footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .footer__inner_main {
    padding-top: 32px;
  }

  .footer__inner_main__item:first-child {
    width: 100%;
  }

  .footer__inner_main__item__top {
    width: 100%;
  }

  .footer__inner_main__item:first-child .logo {
    margin-bottom: 16px;
  }

  .footer__inner_main__item:first-child .btn {
    width: 100%;
    margin-bottom: 0;
  }

  //catalog

  .page-catalog h1 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 12px;
  }
  .page-catalog .section_doubletext p {
    font-size: 13px;
  }
  .page-catalog .section_catalog {
    padding-top: 0;
  }
  .catalog_side__top {
    display: none;
  }
  .catalog_content__tile {
    &_item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  .section_with-btn {
    padding-bottom: 0 !important;
  }
  .page-catalog .section_white {
    padding: 16px;
  }

  .catalog_content .catalog_items__tile {
    &_item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      .item_info__title .item_name {
        font-size: 14px;
      }
      .available p {
        font-size: 12px;
      }
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  //item page

  .link_back {
    display: none;
  }

  .page-card .section_page-top {
    padding-top: 20px;
  }

  .card_top_mobile {
    margin-bottom: 12px;
    .ability {
      p {
        font-size: 13px;
      }
    }
    h2 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 8px;
    }
  }

  .dropdown__text {
    font-size: 14px;
  }

  .section_card {
    background-color: transparent;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .dropdown__text {
      background-color: transparent;
    }

    .card_right .parameters .filter_item {
      &:last-child {
        margin-bottom: 0;
      }
    }
    .card_left .card_slider .slider-for__slide img {
      min-height: unset;
      border-radius: 12px;
    }
    .card_right .item_actions {
      flex-wrap: wrap;
      .price {
        width: 100%;
        margin-bottom: 16px;
      }
      .actions {
        flex-wrap: wrap;
        .btn {
          order: 2;
          width: calc(100% - 69px);
          margin-bottom: 12px;
        }
        .btn_light {
          width: 57px;
          background-color: #E4EDF6;
          margin-bottom: 12px;
          order: 1;
        }
        .link_und {
          order: 3;
          height: 48px;
          padding: 5px 20px;
          border-radius: 12px;
          border-width: 1px;
          border-style: solid;
          text-decoration: none;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }

  .section_card .card_left .slider-nav__slide img {
    border-radius: 8px;
  }

  .section_card .card_left {
    margin-bottom: 16px;
  }

  .section_card .card_right .item_descr p {
    max-width: 100%;
  }

  .section_card .card_right .item_promo .promo_points {
    flex-wrap: wrap;
  }

  .section_card .card_right .item_promo .promo_points__item {
    margin-right: 0;
    margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
  }

  .section_card .card_right .item_promo .promo_points__item .at_text p:first-child {
    font-size: 14px;
  }

  .docs_section {
    background-color: transparent;
    padding: 0 !important;
  }

  .block_links__item {
    padding: 12px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 12px;
      img {
        margin-right: 8px;
        width: 24px;
      }
  }
  .block_links__item {
    width: inherit;
    .bl_name {
      width: inherit;
      p:first-child {
        font-size: 13px;
      }
    }
  }
  .block_links__item .bl_name p:last-child {
    font-size: 12px;
  }

  .block_links__item .icon-download {
    font-size: 24px;
    align-self: flex-end;
  }

  .tabs__buttons {
    margin-bottom: 16px;
    margin-top: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    .tabs__btn {
      font-size: 14px;
      margin-right: 20px;
      padding-bottom: 16px;
    }
  }

  .section_tabtext p {
    font-size: 13px;
  }

  .cat_slider {
    .catalog_items__tile{
      &_item {
        width: 100%;
      }
    }
  }

  .section_tabs {
    margin-bottom: 20px;
  }

  .page-card.page-catalog .page__item {
    padding: 16px 0;
  }

  .btn_container {
    width: 100%;
      .btn {
        width: 100%;
      }
  }

  .page-card.page-catalog .page__item.section_white {
    padding: 16px;
  }

  .pagination .pages {
    display: flex;
    margin: 0 32px;
    align-items: center;
    justify-content: center;
  }

  .page-case {
    .section_card .card_right .item_actions .actions {
      width: 100%;
        .btn {
          width: 100%;
          margin-right: 0;
        }
    }
  }

  //customs 640

  .hero_customs {
    background-position: 80% 50%;
  }

  .customs_calc {
    .btn {
      width: 100%;
    }
    .cust_items .link {
      margin-bottom: 12px;
    }
    .checkbox_box {
      width: 100%;
    }
  }

  .page-customs {
    .white_tile.four-elements {
      .white_tile__item {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 12px;
      }
    }
  }

  .about_box__right {
    .btn {
      width: 100%;
    }
  }

  .hero_ved {
    .hero__inner .hero_left h1 {
      font-size: 28px;
      line-height: 32px;
    }
  }

  .simple_list {
    .blue_list li {
      align-items: flex-start;
      &:last-child {
        margin-bottom: 0;
      }
      .point {
        position: relative;
        top: 4px;
      }
      p {
        font-size: 14px;
      }
    }
  }

  .advant_tile__item:nth-child(1) {
    padding-top: 0;
  }

  .stage_tile {
    margin-bottom: -12px;
    .white_tile__item {
      max-height: unset;
      p {
        font-size: 14px;
      }
      p:last-child {
        font-size: 12px;
      }
      p.big_num {
        font-size: 24px;
        margin-bottom: 8px;
      }
    }
  }

  .blue_flex {
    padding: 16px;
    border-radius: 12px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
      .promo_blue__left, .promo_blue__right {
        width: 100%;
        p {
          margin-bottom: 12px;
        }
      }
    .promo_blue__right {
      .btn {
        width: 100%;
      }
    }
  }

  .services_tile {
    margin-bottom: -12px;
  }

  .white_tile.first-position .white_tile__item:last-child {
    margin-bottom: 0;
  }

  .list_nums {
    li {
      font-size: 13px;
    }
  }

  .simple_list .four-col {
    li p {
      font-size: 12px;
    }
  }

  .delivery_tile.stage_tile .white_tile__item {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 12px;
    p {
      height: auto;
      font-size: 15px;
      max-width: 100%;
    }
    .big_num {
      font-size: 24px;
    }
  }

  .page-contacts {
    .section_page-top {
      padding-bottom: 0 !important;
    }
    .section_map {
      padding-top: 0 !important;
      margin-bottom: 32px;
      .map_container {
        border-radius: 12px;
        .map {
          height: 360px;
        }
      }
    }
    .contacts_box {
      margin-bottom: 0;
      &__item {
        p {
          font-size: 14px;
        }
        .btn {
          width: 100%;
        }
      }
    }
    .block_links {
      margin-bottom: -12px;
    }
  }

  .page-search {
    .search_container {
      margin-bottom: 0;
    }
    .list li a {
      font-size: 13px;
    }
  }

  .section_card .card_left .slider-for__slide video {
    border-radius: 12px;
  }

}