.menu_wrapper {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.menu_mobile {
  background-color: $color-blue;
  transform: translateX(-100%);
  visibility: hidden;
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
  transition: all 0.2s ease-in-out;
  max-width: 100%;
  width: calc(100% - 60px);
  height: 100vh;
  &__inner {
    height: 100%;
    position: relative;
    z-index: 11;
    overflow-y: auto;
    .menu_body {
      height: 100%;
      padding: 40px 20px 40px 20px;
      display: flex;
      flex-direction: column;
      &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          background-color: transparent;
          border-color: #fff;
        }
        .social {
          &_link {
            margin-right: 16px;
            text-decoration: none;
              span:before {
                font-size: 17px;
                color: #fff;
              }
            &:last-child {
              margin-right: 0;
            }
          }
          .wechat {
            span:before {
              font-size: 18px;
            }
          }
        }
        &_top {
          margin-bottom: 20px;
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .item_search {
            margin-left: 0;
            width: 100%;
            background-position: 96% center;
          }
        }
        .accordion__item {
          .link {
            font-size: 16px;
            color: #fff;
            margin-bottom: 12px;
            padding-top: 12px;
          }
        }
        .accordion__btn .accordion__text {
          color: #fff;
        }
        .accordion__btn:before {
          border-color: #fff;
        }
        .accordion__content {
          padding-top: 12px;
          padding-bottom: 0;
          padding-left: 0;
          li {
            margin-bottom: 6px;
            margin-top: 0;
            .link {
              font-size: 16px;
              color: #fff;
              opacity: 0.7;
              padding-bottom: 0;
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}

.menu-mobile_opened {
  visibility: visible;
  transform: translateX(0%);
  transition: all 0.3s ease-in-out;
  opacity: 1;
  .menu_mobile {
    visibility: visible;
    transform: translateX(0%);
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
  }
}


.stopped {
  overflow: hidden;
}


// Меню на десктопе

.header__inner_menu {
  position: relative;
}

.menu_desktop {
  opacity: 0;
  position: absolute;
  left: 0;
  transform: translateY(-20%);
  top: calc(100% + 23px);
  min-width: max-content;
  transition: all 0.2s;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    li {
      padding: 16px 24px;
      border-bottom:1px solid $color-border;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.logo-white {
  a {
    svg {
      path {
        fill: #fff !important;
      }
    }
  }
}

.search_mobile {
  display: none;
}


@media (max-width: 1199px) {

  .menu_mobile {
    width: 50%;
  }

  .search_mobile {
    display: block;
    width: -webkit-fill-available;
    width: -moz-available;
      .btn_transparent {
        float: right;
        margin-right: 32px;
        span {
          font-size: 18px;
          opacity: 0.6;
        }
      }
  }

  .page-catalog {
    .hamburger span:before, .hamburger span:after {
      background: $color-black;
    }
    .hamburger_active span:before, .hamburger_active span:after {
      background: #fff;
    }
  }
}

@media (max-width: 640px) {
  .page-catalog {
    .hamburger span:before, .hamburger span:after {
      background: $color-black;
    }
    .hamburger_active span:before, .hamburger_active span:after {
      background: #fff;
    }
  }

  .menu_mobile {
    width: 100%;
  }
  .menu_mobile__inner .menu_body {
    padding-top: 80px;
  }
  .header_bottom .header__inner .logo {
    position: relative;
    z-index: 10;
  }
  .search_window_top {
    margin-bottom: 12px;
  }
  .search_window {
    .item_search {
      margin-bottom: 4px;
    }
  }
}